<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Search-URL</title>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="{{url_for('static',filename='css/searchpage.css')}}">
  
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  
  <script type="text/javascript">
  	$(document).ready( function() {
        $('#delete').delay(8000).fadeOut();
    });

  	$(document).ready( function() {
        $('#del').delay(8000).fadeOut();
    });

  </script>

</head>
<body>

	<div class = "logo">
        <img src="{{url_for('static',filename='images/logo.png')}}" alt="Logo" style="width: 70%">
    </div>


	<div class = "form">
		<!-- <h2> Enter URL to check legitimacy of the website </h2> -->
		<form action="{{url_for('index')}}" method="POST">
			<input type="text" name="url" placeholder="Enter URL to check legitimacy...  ">
			<input type="submit" value="Search">
		</form>


	<div id = "delete", class = "out">
		{% if output %}
			{% if output=="Legitimate" %}
				<div class = "legit"><p>{{output}}</p></div>
			{% else %}
				<div class = "phish"><p>{{output}}</p></div>

			{% endif %}

		{% endif %}
	</div>


 	<div id = "del", class = "warn">

 		{% if output=="Legitimate"%}
 			<div class="safe">
			  	<strong>SAFE!</strong>
				This website is safe to browse.
			</div>

		{% else %}
	      	{% if warnings %}
	      		<div class="alert">
				  	<strong>DANGER!</strong>
					{% for w in warnings %}
		          		<li> {{ w }}  </li>
		        	{% endfor %}
				</div>

	    	{% endif %}

	  	{% endif %}

	</div>


</body>
</html>
